<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - Iconic</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("Aramex", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("FCU Weekly Report", "Index", "Home")</li>
                    <li>@Html.ActionLink("Mechanical Weekly Report", "Report2", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <img style="width:170px; padding:20px 0px;" src="~/Content/images/ICONIC Logo.png" />
            <img style="width:170px; padding:20px 0px; float:right" src="~/Content/images/aramex-300x86.png" />
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Iconic</p>
        </footer>
    </div>

    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>*@
    
    @*<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>*@
    @RenderSection("scripts", required: false)
    <script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetFcuSites", "Home")',
            dataType: "json",
            traditional: true,
            success: function (data) {
                $('#datatable_tabletools tbody tr').remove();
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td>" + item.NO + "</td>" +
                        "<td>" + item.FCUAddress + "</td>" +
                        "<td>" + item.ServedArea + "</td>" +
                        "<td>" + item.RunHoursWork + "</td>" +
                        "<td>" + item.PreventiveMaintainanceRun + "</td>" +
                        "<td>" + item.PreventiveMaintainanceOverdue + "</td>" +
                        "</tr>";
                    $('#datatable_tabletools').append(rows);
                });
                $('#datatable_tabletools').DataTable();
            },
            error: function (err) {
                //alert('error');
            }
        });
    });

        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetMechanicalSites", "Home")',
            dataType: "json",
            traditional: true,
            success: function (data) {
                $('#mechanical_table tbody tr').remove();
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td>" + item.NO + "</td>" +
                        "<td>" + item.ComponentName + "</td>" +
                        "<td>" + item.ServedArea + "</td>" +
                        "<td>" + (item.RunHoursWork == null ? "" : item.RunHoursWork) + "</td>" +
                        "<td>" + (item.PreventiveMaintainanceRun == null ? "" : item.PreventiveMaintainanceRun) + "</td>" +
                        "<td>" + (item.PreventiveMaintainanceOverdue == null ? "" : item.PreventiveMaintainanceOverdue) + "</td>" +
                        "<td>" + (item.TripHours == null ? "" : item.TripHours) + "</td>" +
                        "</tr>";
                    $('#mechanical_table').append(rows);
                });

                $('#mechanical_table').DataTable({
                    
                });
            },
            error: function (err) {
               // alert('error');
            }
        });
    </script>

</body>
</html>
